[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output DP-2 --mode 2560x1440 --rate 143.96 --output HDMI-0 --mode 1920x1080 --rate 60.00 --left-of DP-2'
OnlyShowIn=LXDE
